.modal-content {
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Background color black with opacity */
  color: white; /* Font color white */
}

.modal-title {
  color: white; /* Font color white for modal title */
}

.accordion-button {
  background-color: black; /* Background color black for accordion button */
  font-weight: bold; /* Make accordion headers (chapters) bold */
  color: white; /* Font color white for accordion button */
}

.accordion-button::after {
  font-weight: bold; /* Make accordion headers (chapters) bold */
  color: white; /* Font color white for accordion button */
}

.accordion-button::after {
  color: white;
}
.accordion-button:not(.collapsed)::after {
  color: white;
}

.accordion-body {
  background-color: black; /* Background color black for accordion body */
  color: white; /* Font color white for accordion body */
  border: 0px;
}
.accordion-item {
  border: none; /* Remove border from accordion items */
}
.accordion-button:not(.collapsed) {
  background-color: #333;
  color: white;
}

.modal-body {
  color: white; /* Font color white for modal body */
}
