.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: Prompt, sans-serif;
  transition: white 5s ease;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.start-background,
.landing-background {
  opacity: 1;
  animation-fill-mode: forwards;
}

.show-landing .start-background {
  animation: fadeOut 2s forwards;
}

.show-landing .landing-background {
  animation: fadeIn 2s forwards;
}

.start-background {
  background: url("/image/background.png") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 2s ease;
}

.landing-background {
  background: url("/image/background-with-mascot.png") no-repeat center
    center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 2s ease;
}
@media (min-width: 767px) {
  .d-none {
    display: none;
  }
}
@media (max-width: 767px) {
  .landing-background {
    background: url("/image/mobile-background.png") no-repeat center
      center/cover;
  }
  .landing-page-text {
    font-size: 50px !important;
  }
  .d-mb-none {
    display: none;
  }
  .landing-page-logo img {
    height: 50px;
  }
  .landing-page-link {
    font-size: 16px !important;
  }
  .game-logo {
    width: 70px !important;
    padding: 5px !important;
    transition: transform 0.5s ease-in-out;
  }

  .game-logo:hover {
    transform: scale(1.3);
  }
}

.landing-page-text {
  text-align: center;
  font-weight: bold;
  font-size: 95px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.connect-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-blue {
  color: #0071bc;
}

.gameName {
  font-size: 95px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.clickToStart {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  animation: blink 1.2s infinite;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.mascots {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.mascot {
  width: 100px;
  height: auto;
}

.start-background,
.landing-background {
  opacity: 1;
  animation-fill-mode: forwards;
}

.show-landing .start-background {
  animation: fadeOut 2s forwards;
}

.show-landing .landing-background {
  animation: fadeIn 2s forwards;
}

.show-landing .landing-background .landing-page-text {
  animation: fadeInText 2s forwards;
  animation-delay: 1s;
}
.image-glow {
  filter: none;
  transition: filter 0.5s ease-in-out;
}

.image-glow:hover {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8))
    drop-shadow(0 0 16px rgba(255, 255, 255, 0.6))
    drop-shadow(0 0 32px rgba(255, 255, 255, 0.4));
}
.glow {
  font-size: 24px;
  transition: text-shadow 0.3s ease-in-out;
}

.glow:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
    0 0 16px rgba(255, 255, 255, 0.6), 0 0 32px rgba(255, 255, 255, 0.4);
}

.landing-page-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.landing-page-content {
  opacity: 0;
}
.landing-page-logo {
  width: 100px;
  height: auto;
  opacity: 0;
}
.landing-page-content {
  animation: fadeInText 2s forwards;
  animation-delay: 2s;
}
.landing-page-logo {
  animation: fadeInText 2s forwards;
  animation-delay: 2s;
}

.corner {
  position: absolute;
  padding: 10px;
}

.position-absolute {
  position: absolute;
}

.top-left {
  top: 5%;
  left: 5%;
}

.top-right {
  top: 5%;
  right: 5%;
}

.top-center {
  top: 5%;
}

.bottom-left {
  bottom: 5%;
  left: 5%;
}

.bottom-right {
  bottom: 5%;
  right: 5%;
}

.game-logo {
  width: 100px;
  padding: 10px;
  transition: transform 0.5s ease-in-out;
}

.game-logo:hover {
  transform: scale(1.3);
}

.btn {
  background-color: white;
  color: black;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  display: inline-block;
  padding: 5px 30px;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.5) inset;
}

.btn:hover {
  background-color: white;
  color: black;
  transition: filter 0.5s ease-in-out;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.8))
    drop-shadow(0 0 6px rgba(255, 255, 255, 0.6))
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.4));
}

.cloud-fragment-1 {
  position: absolute;
  width: 30vw;
  height: 30vh;
  background: url("/image/cloud-1.png") no-repeat center center;
  background-size: cover;
}

.cloud-fragment-2 {
  position: absolute;
  width: 30vw;
  height: 30vh;
  background: url("/image/cloud-2.png") no-repeat center center;
  background-size: cover;
}
