.modal-content {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: gray;
}

.modal-title {
  size: 36px !important;
  color: white;
  font-weight: bold;
}

.accordion-button {
  background-color: black;
  font-weight: bold;
  color: white;
}

.accordion-button::after {
  font-weight: bold;
  color: white;
}

.accordion-button::after {
  color: white;
}
.accordion-button:not(.collapsed)::after {
  color: white;
}

.accordion-body {
  background-color: black;
  color: white;
  border: 0px;
}
.accordion-item {
  border: none;
}
.accordion-button:not(.collapsed) {
  background-color: #333;
  color: white;
}

.modal-body {
  color: white;
}

::selection {
  color: white;
  background: purple;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}
